.input{
    width: 100%;
    border-radius: 10px 10px;
    border: none;
    padding: 0.3rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.input:focus{
    box-shadow: #f8f4ea 0 0 3px 5px;
}

.invalid{
    box-shadow: #db0404 0 0 3px 5px;
}

/*.input{*/
/*    box-shadow: #db0404 0 0 3px 5px;*/
/*}*/