.btn{
    background-color: #bd9751;
    border-radius: 30px 30px;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: none
}

.btn:hover{
    border: #8b1739 2px solid;
    color: #8b1739;
    cursor: pointer;
}

.btn-ch{
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    padding: 5px;
}

.btn-no-background{
    background-color: transparent;
    border-radius: 0 0;
    color: #bd9751;
    border: none;
}

.btn-no-background:hover{
    border: none;
}